* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(217, 220, 241);
}
.container {
    background-color: white;
    padding: 1.6rem;
    border-radius: 1rem;
    min-height: 43vh;
    width: 40vh;
}
form {
    margin: 2rem 0 1rem 0;
}
form p {
    margin-bottom: 0.4rem;
}
form select, input, button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}
form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 1.5rem;
    padding: 0.2rem 0 0.2rem 0.6rem;
}
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6rem;
}
.select-container img {
    max-width: 2rem;
    margin-left: 0.2rem;
}
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1.5px solid lightgray;
    border-radius: 0.7rem;
}
.select-container select {
    font-size: 1rem;
    width: auto;
}
.dropdown i {
    font-size: 1.5rem;
    margin-top: 1.3rem;
}
.msg {
    margin: 1.5rem 0 1.5rem 0;
}
form button {
    height: 2.3rem;
    border-radius: 0.6rem;
    background-color: rgb(169, 73, 172);
    color: white;
    font-size: 1rem;
    margin-top: 0.7rem;
    cursor: pointer;
}