* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #8b4988;
}

.container {
    position: fixed;
    border-radius: 1.5rem;
    background-color: rgb(235, 225, 225);
    height: 460px;
    width: 45vh;
    padding: 1rem;
}

.msg {
    font-size: 1.7rem;
}

.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.2rem;
}

.task input {
    width: 100%;
    font-size: 1rem;
    border-radius: 0.7rem;
    border: 2px solid lightgray;
    outline: none;
    padding: 0.3rem;
}

.task button {
    width: 20%;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #8b4988;
    color: white;
}

.mainDiv {
    max-height: 350px;
    overflow-y: auto;
    box-sizing: border-box;
}

.addTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    /* border: 2px solid rgb(225, 207, 207); */
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.left label {
    font-size: 1rem;
    line-height: 1.4;
    cursor: pointer;
}

.left input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.completed label {
    text-decoration: line-through;
    opacity: 0.6;
}

.edit {
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
}

.edit:hover {
    color: blue;
}

.delete {
    font-size: 1rem;
    cursor: pointer;
}

.delete:hover {
    color: red;
}